.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-auto-rows: minmax(5rem, 10rem);
  gap: 0.3rem;

  & > div {
    background: #000;
    text-align: center;
    grid-row: span 5;
    overflow: hidden;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      transition: all 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }

    &:nth-child(even) {
      grid-row: span 3;
    }
  }
}
